@using Karen.Models.Entities
@{
    ViewData["Title"] = "Privacy Policy";
}
@model List<Product>


<div class="container content">
     <div class="row">
          <div class="col-md-4">Категория
            <div class="list-group">
            @Html.ActionLink("Вcе","Privacy","Home")
            @Html.ActionLink("Диваны","Privacy","Home", new {type=1}) 
            @Html.ActionLink("Кровать","Privacy","Home", new {type=2})
            @Html.ActionLink("Шкаф","Privacy","Home", new {type=3})
            @Html.ActionLink("Стол","Privacy","Home", new {type=4})
            </div>
          </div>
  
            @{
                
                 foreach (Product item in Model)
                  {
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="product">
                            <div class="product-img">
                            <a href="#"><img src="@item.product_image" alt=""></a>
                            </div>
                            <p class="product-title">
                            <a href="#">@item.product_name</a>
                            </p>
                            <p class="product-price">Price: €@item.product_price</p>
                            </div>
                        </div>
                     </div>
                   </div>
                   }   
                }
            
             
     </div>
 </div>